GITHUB_API_URL=https://github.ibm.com/api/v3
GITHUB_TOKEN=<Token>
PORT=3001
POSTGRESQL_USER=repo_radar_user
POSTGRESQL_PASSWORD=postgres
POSTGRESQL_DB=repo_radar
POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=5432
POSTGRESQL_DATABASE=repo_radar